**
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.base.json
!packages/
!packages/core/
!packages/core/package.json
!packages/core/tsconfig.json
!packages/core/scripts/
!packages/core/scripts/**
!packages/core/src/
!packages/core/src/**
!apps/
!apps/viewer/
!apps/viewer/package.json
!apps/viewer/src/
!apps/viewer/src/**
!apps/viewer/public/
!apps/viewer/public/**
!apps/workspaces/
!apps/workspaces/package.json
!apps/workspaces/src/
!apps/workspaces/src/**
!apps/workspaces/public/
!apps/workspaces/public/**
!apps/example-library/
!apps/example-library/package.json
!apps/example-library/src/
!apps/example-library/src/**
!examples/
!examples/**
**/*.test.*
